<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medixplus</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
     <style>
          .grayBorder{
            border:6px #e9ecef solid;
         }
       #turnblue:hover{
  color: blue;
  text-decoration-color: blue;
  transition: 1s;
}
        body{
    background-color: #e9ecef;
  }
    
     </style>
  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar content -->
        <div class="container-fluid">
            <a class="navbar-brand" id="turnblue" href="/">Medixplus</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav ms-auto">
                
                <a class="nav-link d-flex" href="/login">LOGIN</a>
                <a class="nav-link d-flex" href="/register">REGISTER</a>

 
              </div>
             
            </div>
            
          </div>
      </nav>

<div style="background-image:url(slider1.jpg); width: 100%;"><div class="container" style="height: 400px;"> <img class="grayBorder" src="lungs3.jpg" style="width: 100%; height: 100%;     border: 2px solid black;"></div></div>
<div class="container" style="background-color: white; border-radius: 20px; padding: 20px; margin-top:20px; margin-bottom: 20px;">
    <h2 style="text-align: center; margin-top: 40px; margin-bottom: 80px;">Lung Diseases Overview</h2>
    <div style="width: 100%;"> <span style="margin-right: auto; margin-left: auto; width: 60%; height: 400px; display: table;"><img class="grayBorder" src="lungs2.jpg" style="height: 100%; width: 100%;"></span></div>
    <p style="margin-top: 40px;">Lung diseases are some of the most common medical conditions in the world. Tens of millions of people have lung disease in the U.S. alone. Smoking, infections, and genes cause most lung diseases.
    <p style="margin-top: 40px;">
        Your lungs are part of a complex system, expanding and relaxing thousands of times each day to bring in oxygen and send out carbon dioxide. Lung disease can happen when there are problems in any part of this system.
    </p>
    The pleura is the thin lining that surrounds your lung and lines the inside of your chest wall. A tiny layer of fluid lets the pleura on your lung's surface slide along the chest wall with each breath.</p>
    <div style="width: 100%;"> <span style="margin-right: auto; margin-left: auto; width: 40%; height: 400px; display: table;"><img class="grayBorder" src="lungs1.jpg" style="height: 100%; width: 100%;"></span></div>

    <h3 style="margin-top: 40px;">Lung Diseases Affecting the Air Sacs (Alveoli)</h3>
    <p style="margin-top: 20px;">Your airways branch into tiny tubes (bronchioles) that end in clusters of air sacs called alveoli. These air sacs make up most of your lung tissue. Lung diseases affecting your alveoli include:


        Pneumonia. An infection of your alveoli, usually by bacteria or viruses, including the coronavirus that causes COVID-19,
        Tuberculosis Pneumonia that slowly gets worse, caused by the bacteria Mycobacterium tuberculosis,
        Emphysema. This happens when the fragile links between alveoli are damaged. Smoking is the usual cause. (Emphysema also limits airflow, affecting your airways.),
        Pulmonary edema. Fluid leaks out of the small blood vessels of your lung into the air sacs and the area around them. One form is caused by heart failure and back pressure in your lungs' blood vessels. In another form, injury to your lung causes the leak of fluid,
        Lung cancer. It has many forms and may start in any part of your lungs. It most often happens in the main part of your lung, in or near the air sacs,
        Acute respiratory distress syndrome (ARDS). This is a severe, sudden injury to the lungs from a serious illness. COVID-19 is one example. Many people who have ARDS need help breathing from a machine called a ventilator until their lungs recover,
        Pneumoconiosis. This is a category of conditions caused by inhaling something that injures your lungs. Examples include black lung disease from coal dust and asbestosis from asbestos dust etc.

    
</p>   
<div style="width: 100%; margin-top: 40px;"> <span style="margin-right: auto; margin-left: auto; width: 60%; height: 400px; display: table;"><img class="grayBorder" src="lungs4.jpg" style="height: 100%; width: 100%;"></span></div>

<h3 style="margin-top: 40px;">Lung Diseases Affecting the Interstitium</h3>
<p>

    The interstitium is the thin, delicate lining between your alveoli. Tiny blood vessels run through the interstitium and let gas transfer between the alveoli and your blood. Various lung diseases affect the interstitium:</p>
    
<ul>
    <li>Pulmonary embolism(PE). A blood clot (usually in a deep leg vein, called deep vein thrombosis) breaks off, travels to your heart, and gets pumped into your lungs. The clot sticks in a pulmonary artery, often causing shortness of breath and low blood oxygen levels.</li>
    <li>Pulmonary hypertension. Many conditions can cause high blood pressure in your pulmonary arteries. This can lead to shortness of breath and chest pain. If your doctor can’t find a cause, they’ll call it idiopathic pulmonary arterial hypertension.</li>
     
</ul>
<h3 style="margin-top: 40px;">Lungs disease symptoms caused by Lungs defects

  </h3>
  <p>  Serious lungs defect that you're born with (congenital lungs defects) usually are noticed soon after birth. lungs defect signs and symptoms in children could include:

    Pale gray or blue skin color (cyanosis),
    Swelling in the legs, abdomen or areas around the eyes,
    In an infant, shortness of breath during feedings, leading to poor weight gain etc
    </p>
 
<a href="/">BACK</a>
</div>
     <!-- Footer start -->
<footer class="text-center text-lg-start bg-light text-muted">
   
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
       facebook
      </a>
      <a href="" class="me-4 text-reset">
        twitter
      </a>
      <a href="" class="me-4 text-reset">
      google
      </a>
      <a href="" class="me-4 text-reset">
        instagram
      </a>
      <a href="" class="me-4 text-reset">
       linkedin
      </a>
      <a href="" class="me-4 text-reset">
      github
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Medixplus
          </h6>
          <p>
           We at Medixplus pathology provide our patients the best experience and most reliable reports. We keep our machines updated and error free with regular maintenance
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Products
          </h6>
          <p>
            <a href="/swasth" class="text-reset">SwasthFit</a>
          </p>
          <p>
            <a href="/preg" class="text-reset">Pregnancy Package</a>
          </p>
          <p>
            <a href="/diab" class="text-reset">Diabetes Package</a>
          </p>
          <p>
            <a href="/swasth" class="text-reset">SwasthFit Advance</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a href="/login" class="text-reset">Login</a>
          </p>
          <p>
            <a href="/register" class="text-reset">Register</a>
          </p>
          <p>
            <a href="/userHome" class="text-reset">Book Appointment</a>
          </p>
          <p>
            <a href="" class="text-reset">Help</a>
          </p>
        </div>
     

        
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
           
          <h6 class="text-uppercase fw-bold mb-4">
           &nbsp;&nbsp; Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> India, Mathura 208012, UP</p>
          <p>
            
            <i style="font-size:18px; display: inline; vertical-align: middle;" class="material-icons">email</i> Medixplus@gmail.com
          </p>
          <p><i style="font-size:18px; display: inline; vertical-align: middle;" class="material-icons">support_agent</i>+ 01 234 567 88</p>
          <p><i style="font-size:18px; display: inline; vertical-align: middle;" class="material-icons">support_agent</i>+ 01 234 567 89</p>
        </div>
        
      </div>
      
    </div>
  </section>
 
</footer>

<!-- footer end -->
 
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  
  </body>
  </html>
      